<appSettings>
  <!--Configuration setings for the appliccation-->
  <add key ="MailService" value="dev-smtp.streams.com"/>
  <add key ="FacebookAppId" value="2258309097621275"/>
  <add key ="FacebookAppSecrete" value="5f3431ec5e38bbf20636d600a06f144d"/>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>